<p-messages ></p-messages>



<div class="container">
  <div class="row centered-form">
  <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-12 col-md-offset-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Log In</h3>
       </div>
       <div class="panel-body">
        <form role="form" (submit)="onSignIn()" #f="ngForm">
     
          
            <div class="form-group">
                <input type="email" ngModel #email=ngModel name="email" class="form-control input-sm" placeholder="Email">
              </div>
  

          <div class="form-group">
            <input type="password" ngModel #password=ngModel name="password" class="form-control input-sm" placeholder="Password">
          </div>

          
          <input type="submit" value="Log In" class="btn btn-info btn-block">
        
        </form>
      </div>
    </div>
  </div>
</div>
</div>